<?xml version="1.0" ?>
<config>
<tabs>
		<tbextratabs translate="label" module="extratabs">
			<label>TB extratabs</label>
            <sort_order>300</sort_order>
		</tbextratabs>
	</tabs>
	<sections>
		<extratabsset translate="label" module="extratabs">
			<label>TB Extra Tabs</label>
			<tab>tbextratabs</tab>
			<frontend_type>text</frontend_type>
			<sort_order>100</sort_order>
			<show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store> 
			<groups>
				<general_settings translate="label">
					<label>General settings</label>
					<frontend_type>text</frontend_type>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
					<fields>
						<enable translate="label">
                            <label>Enable</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>10</sort_order>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
                        </enable>
                        <review translate="label">
                            <label>Add product reviews</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>20</sort_order>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
                        </review>
                        <related translate="label">
                            <label>Add related products</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>30</sort_order>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
                        </related>
                        <upsell translate="label">
                            <label>Add upsell products</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>40</sort_order>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
                        </upsell>
                        <blocks translate="label">
                            <label>Add Static blocks</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>50</sort_order>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>In order to display a custom block, use the Static Block (CMS->Static Blocks section) with the Identifier like "extratab_video", Identifier must start with "extratab_".</comment>
                        </blocks>
                        <description translate="label">
                            <label>Add product description</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>60</sort_order>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
                        </description>
                        <additional translate="label">
                            <label>Add product additional attributes</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>70</sort_order>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
                        </additional>
                        <tags translate="label">
                            <label>Add product tags</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>80</sort_order>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
                        </tags>
                    </fields>
				</general_settings>
                <custom_attributes translate="label">
                    <label>Custom Product Attribute Tabs</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>30</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <heading1 translate="label">
                            <label>Attribute tab #1</label>
                            <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </heading1>
                        <active_tab1 translate="label">
                            <label>Enable/Disable</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>20</sort_order>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active_tab1>
                        <tab1_id translate="label">
                            <label>Product Attribute</label>
                            <frontend_type>select</frontend_type>
<source_model>extratabs_adminhtml/system_config_source_attributes</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Select product attribute.</comment>
                        </tab1_id>
                        <tab1_title translate="label">
                            <label>Tab Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Enter tab title to show.</comment>
                        </tab1_title>
                        <heading2 translate="label">
                            <label>Attribute tab #2</label>
                            <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </heading2>
                        <active_tab2 translate="label">
                            <label>Enable/Disable</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>60</sort_order>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active_tab2>
                        <tab2_id translate="label">
                            <label>Product Attribute</label>
                            <frontend_type>select</frontend_type>
                            <source_model>extratabs_adminhtml/system_config_source_attributes</source_model>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Select product attribute.</comment>
                        </tab2_id>
                        <tab2_title translate="label">
                            <label>Tab Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>80</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Enter tab title to show.</comment>
                        </tab2_title>
                        <heading3 translate="label">
                            <label>Attribute tab #3</label>
                            <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
                            <sort_order>90</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </heading3>
                        <active_tab3 translate="label">
                            <label>Enable/Disable</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>100</sort_order>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active_tab3>
                        <tab3_id translate="label">
                            <label>Product Attribute</label>
                            <frontend_type>select</frontend_type>
                            <source_model>extratabs_adminhtml/system_config_source_attributes</source_model>
                            <sort_order>110</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Select product attribute.</comment>
                        </tab3_id>
                        <tab3_title translate="label">
                            <label>Tab Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>120s</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Enter tab title to show.</comment>
                        </tab3_title>
                    </fields>
                </custom_attributes>
			</groups>
		</extratabsset>
	</sections>
</config>